* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
}

body {
    display: flex;
    justify-content: center;
    padding: 6em 1em 1em;
    background-image: linear-gradient(to right, #4CD3E3, #3F6BFE);
}

/* ------------------Start Header---------------- */

.header {
    background-image: linear-gradient(to right, #3F6BFE, #4CD3E3);
}

.header_wrapper {
    display: flex;
    flex-direction: column;
}

.header_row {
    display: flex;
    justify-content: space-around;
    border: solid;
}

.header_logo {
    width: 18%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header_nav {
    display: flex;
}

.header_nav_list {
    display: flex;
    list-style-type: none;
}

.header_nav_item {
    display: flex;
}

.header_nav_link {
    text-transform: uppercase;
    font-size: 1.5em;
    color: white;
    padding: .5em;
    text-align: center;
}

.header_content {
    width: 87%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 11em 0;
    color: white;
}

.header_content h2 {
    font-size: 2.8em;
    text-transform: uppercase;
}

.header_content p {
    font-size: 1.4em;
    margin: 1em 0 2em;
}

.header_content a {
    color: white;
    padding: .8em 3em;
    border-radius: 3em;
    border: 2px solid white;
    text-transform: capitalize;
    font-size: 1.2em;
    font-weight: 500;
}

@media (min-width:48em) {}

/* ------------------End Header------------------ */
/* ------------------Start Main------------------ */
/* @media (min-width:48em) {} */

/* ------------------End Main-------------------- */
/* ------------------Start Footer------------------ */
/* @media (min-width:48em) {} */

/* ------------------End Footer------------------ */