* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    padding: 6em 1em 1em;
    background-image: linear-gradient(to right, #4CD3E3, #3F6BFE);
}

/* ------------------Start Header---------------- */

.header {
    background-image: linear-gradient(to right, #3F6BFE, #4CD3E3);
    border: 8px solid red;
}

.header_wrapper {
    display: flex;
    flex-direction: column;
    border: 8px solid green;
}

.header_row {
    display: flex;
    justify-content: space-between;
    padding: 0 1em;
    border: 8px solid orangered;
}

.header_logo {
    width: 27%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 8px solid indigo;
}

.header_nav {
    display: flex;
    border: 8px solid gold;
}

.header_nav_list {
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    border: 8px solid violet;
}

.header_nav_item {
    display: flex;
    /* margin: 0 1em; */
    border: 8px solid brown;
}

.header_nav_link {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.5em;
    color: white;
    padding: .5em;
    text-align: center;
    border: 8px solid burlywood;
}

.header_content {
    display: flex;
    flex-direction: column;
    padding: 9em 0;
    border: 8px solid thistle;
}

@media (min-width:48em) {

    /* .header_wrapper {
        display: flex;
        flex-direction: column;
        background-image: url(../image/2.png);
        background-position: right bottom;
        background-repeat: no-repeat;
        background-size: 50%;
        border: 8px solid green;
    } */
}

/* ------------------End Header------------------ */
/* ------------------Start Main------------------ */
@media (min-width:48em) {}

/* ------------------End Main-------------------- */
/* ------------------Start Footer------------------ */
@media (min-width:48em) {}

/* ------------------End Footer------------------ */