* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
}

body {
    padding: 6em 9.9em 1em;
    background-image: linear-gradient(to right, #4CD3E3, #3F6BFE);
}

/* ------------------Start header_--------------- */

.header {
    background-image: linear-gradient(to right, #3F6BFE, #4CD3E3);
}

.header_wrapper {
    display: flex;
    flex-direction: column;
    background-image: url(../image/2.png);
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: right bottom;
}

.header_row {
    display: flex;
    justify-content: space-evenly;
    padding: 1em 0;
}

.header_row:first-child {
    border-bottom: thin solid rgba(255, 255, 255, 0.15);
}

.header_logo {
    width: 18%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header_nav {
    display: flex;
}

.header_nav_list {
    display: flex;
    list-style-type: none;
}

.header_nav_item {
    display: flex;
}

.header_nav_link {
    text-transform: uppercase;
    font-size: 1em;
    color: white;
    padding: 0em 2em;
    text-align: center;
}

.header_content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 11em .5em 11em 6em;
    color: white;
}

.header_content h2 {
    font-size: 2em;
    text-transform: uppercase;
}

.header_content p {
    font-size: 1em;
    margin: 1em 0 2em;
}

.header_content a {
    color: white;
    padding: .5em 2.8em;
    border-radius: 3em;
    border: 2px solid white;
    text-transform: capitalize;
    font-size: 1em;
    font-weight: 500;
}

@media (min-width:48em) {
    .header_wrapper {
        background-size: 50%;
    }

    .header_row {
        display: flex;
        justify-content: space-between;
        padding: 1em;
    }

    .header_logo {
        width: 12%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .header_content {
        width: 55%;
        padding: 6em 0;
    }
}

/* ------------------End header_----------------- */
/* ------------------Start Main------------------ */

/* ------------------Start Working------------------ */
.working {
    background-color: white;
    border: solid red;
}

.working_wrapper {
    display: flex;
    flex-direction: column;
    border: solid green;
}

.working_row {
    display: flex;
    flex-direction: column;
    align-items: center;
    border:  solid indigo;
}

.working_content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border: solid orange;
}

.working_content h2 {
    text-transform: capitalize;
    font-weight: 500;
    font-size: 2em;
}

.working_content p {
    margin: 1em 0 4em;
    color: #6a6e6d;
}

.working_item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0em 0 2em;
    border: solid brown;
}

.working_item i {
    padding: 1.2em;
    font-size: 2.3em;
    border: 1px solid #c5cac8;
    color: #46A0F1;
}

.working_item h3 {
    text-transform: capitalize;
    font-size: 1.5em;
    font-weight: 500;
}

@media (min-width:48em) {
    .working_wrapper {
        padding: 6em 0;
    }

    .working_row {
        display: flex;
        flex-direction: row;
        justify-content: space-around;

    }

    .working_content {
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        /* padding: 4em 0 0; */
    }

}

/* ------------------End Working------------------ */

/* ------------------End Main-------------------- */
/* ------------------Start Footer------------------ */
/* @media (min-width:48em) {} */

/* ------------------End Footer------------------ */